<%= form_with(model: discipline_detail, local: true) do |form| %>
  <% if discipline_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discipline_detail.errors.count, "error") %> prohibited this discipline_detail from being saved:</h2>

      <ul>
      <% discipline_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :discipline_detail_name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :discipline_detail_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
