<div class="row">
  <div class="col-md-6">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-yellow">
              <div class="widget-user-image">
                <%= image_tag("axel.jpg", :alt => "rss feed", :class=>"img-circle") %>
              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username"><%=@athlete.names %></h3>
              <h5 class="widget-user-desc">Círculo atlético San Antonio</h5>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#">Sexo<span class="pull-right badge bg-blue"><%=@athlete.sex %></span></a></li>
                <li><a href="#">Fecha de nacimiento<span class="pull-right badge bg-aqua"><%=@athlete.birthdate %></span></a></li>
                <li><a href="#">Club<span class="pull-right badge bg-green">Círculo atlético San Antonio</span></a></li>
                <li><a href="#">Entrenador<span class="pull-right badge bg-red">Maximiliano Miranda</span></a></li>
              </ul>
            </div>
          </div>

          <!-- /.widget-user -->
        </div>
         <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Progreso</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body chart-responsive">
              <div class="chart" id="revenue-chart" style="height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg height="300" version="1.1" width="467.453" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="51.515625" y="261" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,261H442.453" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="51.515625" y="202" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">7,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,202H442.453" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="51.515625" y="143" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,143H442.453" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="51.515625" y="84.00000000000003" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">22,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,84.00000000000003H442.453" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="51.515625" y="25.00000000000003" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,25.00000000000003H442.453" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="373.00352476206143" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2018</tspan></text><text x="204.71547221308157" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2017</tspan></text><path fill="#74a5c2" stroke="none" d="M64.015625,219.05493333333334C74.5958933310763,219.56626666666668,95.75642999322886,222.62413984752416,106.33669832430516,221.10026666666667C116.9073874174176,219.5777731808575,138.0487656036425,209.1350720412966,148.61945469675493,206.86946666666668C159.07998255328306,204.6274720412966,180.00103826633926,204.88215,190.4615661228674,203.06986666666666C200.92209397939553,201.25758333333332,221.84314969245176,194.91233926701568,232.3036775489799,192.3712C242.8839458800562,189.80097260034904,264.04448254220875,182.51719240057355,274.62475087328505,182.6244C285.2002295853794,182.73155906724023,306.35118700956815,204.18306539133076,316.9266657216625,193.22866666666667C327.3824039592087,182.39829872466407,348.2938804343011,101.94248279990792,358.7496186718473,95.48533333333336C369.0951956728092,89.09621613324126,389.78634967473295,135.13955788509958,400.13192667569484,141.8436C410.71219500677114,148.69972455176622,431.8727316689237,147.7554,442.453,149.726L442.453,261L64.015625,261Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#3c8dbc" d="M64.015625,219.05493333333334C74.5958933310763,219.56626666666668,95.75642999322886,222.62413984752416,106.33669832430516,221.10026666666667C116.9073874174176,219.5777731808575,138.0487656036425,209.1350720412966,148.61945469675493,206.86946666666668C159.07998255328306,204.6274720412966,180.00103826633926,204.88215,190.4615661228674,203.06986666666666C200.92209397939553,201.25758333333332,221.84314969245176,194.91233926701568,232.3036775489799,192.3712C242.8839458800562,189.80097260034904,264.04448254220875,182.51719240057355,274.62475087328505,182.6244C285.2002295853794,182.73155906724023,306.35118700956815,204.18306539133076,316.9266657216625,193.22866666666667C327.3824039592087,182.39829872466407,348.2938804343011,101.94248279990792,358.7496186718473,95.48533333333336C369.0951956728092,89.09621613324126,389.78634967473295,135.13955788509958,400.13192667569484,141.8436C410.71219500677114,148.69972455176622,431.8727316689237,147.7554,442.453,149.726" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="64.015625" cy="219.05493333333334" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="106.33669832430516" cy="221.10026666666667" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="148.61945469675493" cy="206.86946666666668" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="190.4615661228674" cy="203.06986666666666" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="232.3036775489799" cy="192.3712" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="274.62475087328505" cy="182.6244" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="316.9266657216625" cy="193.22866666666667" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="358.7496186718473" cy="95.48533333333336" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="400.13192667569484" cy="141.8436" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="442.453" cy="149.726" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#eaf3f6" stroke="none" d="M64.015625,240.02746666666667C74.5958933310763,239.8072,95.75642999322886,241.35596692330918,106.33669832430516,239.1464C116.9073874174176,236.93883358997584,138.0487656036425,223.3365440294542,148.61945469675493,222.35893333333334C159.07998255328306,221.39151069612086,180.00103826633926,233.23263333333333,190.4615661228674,231.36626666666666C200.92209397939553,229.4999,221.84314969245176,209.28863409970407,232.3036775489799,207.428C242.8839458800562,205.54606743303742,264.04448254220875,214.4387236434986,274.62475087328505,216.39600000000002C285.2002295853794,218.35239031016528,306.35118700956815,232.38159338039932,316.9266657216625,223.08266666666668C327.3824039592087,213.88902671373265,348.2938804343011,148.22550307007447,358.7496186718473,142.42573333333334C369.0951956728092,136.68706973674114,389.78634967473295,170.47185665674832,400.13192667569484,176.92893333333336C410.71219500677114,183.53248999008167,431.8727316689237,190.23343333333335,442.453,194.66826666666668L442.453,261L64.015625,261Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#a0d0e0" d="M64.015625,240.02746666666667C74.5958933310763,239.8072,95.75642999322886,241.35596692330918,106.33669832430516,239.1464C116.9073874174176,236.93883358997584,138.0487656036425,223.3365440294542,148.61945469675493,222.35893333333334C159.07998255328306,221.39151069612086,180.00103826633926,233.23263333333333,190.4615661228674,231.36626666666666C200.92209397939553,229.4999,221.84314969245176,209.28863409970407,232.3036775489799,207.428C242.8839458800562,205.54606743303742,264.04448254220875,214.4387236434986,274.62475087328505,216.39600000000002C285.2002295853794,218.35239031016528,306.35118700956815,232.38159338039932,316.9266657216625,223.08266666666668C327.3824039592087,213.88902671373265,348.2938804343011,148.22550307007447,358.7496186718473,142.42573333333334C369.0951956728092,136.68706973674114,389.78634967473295,170.47185665674832,400.13192667569484,176.92893333333336C410.71219500677114,183.53248999008167,431.8727316689237,190.23343333333335,442.453,194.66826666666668" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="64.015625" cy="240.02746666666667" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="106.33669832430516" cy="239.1464" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="148.61945469675493" cy="222.35893333333334" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="190.4615661228674" cy="231.36626666666666" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="232.3036775489799" cy="207.428" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="274.62475087328505" cy="216.39600000000002" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="316.9266657216625" cy="223.08266666666668" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="358.7496186718473" cy="142.42573333333334" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="400.13192667569484" cy="176.92893333333336" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="442.453" cy="194.66826666666668" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg><div class="morris-hover morris-default-style" style="left: 20.9922px; top: 154px; display: none;"><div class="morris-hover-row-label">2011 Q1</div><div class="morris-hover-point" style="color: #a0d0e0">
  Item 1:
  2,666
</div><div class="morris-hover-point" style="color: #3c8dbc">
  Item 2:
  2,666
</div></div></div>
            </div>
            <!-- /.box-body -->



          </div>
         </div>

</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @athlete.names %>
</p>

<p>
  <strong>Surnames:</strong>
  <%= @athlete.surnames %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @athlete.sex %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @athlete.birthdate %>
</p>

<p>
  <strong>Birthyear:</strong>
  <%= @athlete.birthyear %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @athlete.rut %>
</p>

<p>
  <strong>Idclub:</strong>
  <%= @athlete.idClub %>
</p>

<p>
  <strong>Idregion:</strong>
  <%= @athlete.idRegion %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @athlete.cellPhone %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @athlete.mail %>
</p>

<p>
  <strong>Idcoach:</strong>
  <%= @athlete.idCoach %>
</p>

<p>
  <strong>Size:</strong>
  <%= @athlete.size %>
</p>

<p>
  <strong>Height:</strong>
  <%= @athlete.height %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
